# URL kết nối đến PostgreSQL (Sử dụng Neon.tech, Supabase hoặc Local)
DATABASE_URL=postgresql://username:password@hostname:5432/finpro_db

# Không sử dụng postgres:// mà hãy thay bằng postgresql:// để SQLAlchemy hoạt động
